/* card */
.d-flex{
    display: flex;
}
.card {
   margin: 15px;
    /* max-width: 60%; */
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0);
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
   
}
  input:focus {
    outline: none;
}
.input-container{
    position: relative;
    width: 100%;
    max-width: 650px;
}
.input-container #submit {
    position: absolute;
    right: 0;
    bottom: 15px;
    cursor: pointer;

}
