/* card */
.d-flex{
    display: flex;
}
.card {
   margin: 15px;
    /* max-width: 60%; */
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0);
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
   
}
/* mainleft*/
history {

padding: 10px;

margin: 10px;

display: flex;

flex-direction: column;

height: 100%;

}

.history p{

cursor: pointer
}
/ header/
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}
body{
    /* display: inline-block; */
    margin: auto;
    /* padding: auto; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-chatgpt{
    display: inline-block;
    margin: 0 auto;
    /* padding: auto; */
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; 
